h1{
    font-family: verdana, arial, tahoma, sans-serif;
}

p{font-family:  'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;

}
